@import "./_variables.css";
@import "./textEditor.css";
@import "./header.css";
@import "./footer.css";

* {
    box-sizing: border-box;
}

html {
    background-color: var(--editorBackgroundColor);
}

body {
    background-color: var(--editorBackgroundColor);
    margin: 0;
    overflow-x: hidden;
}