header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--headerBackgroundColor);
    height: 78px;

    .header-content {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        flex-wrap: wrap;
        max-width: 1280px;
        margin: 0 auto;
        
        .btn-container {
            display: flex;
            gap: 1rem;
    
            button {
                border: 1px solid var(--buttonBorderColor);
                transition: 0.2s;
                opacity: 0.7;
    
                &:hover {
                    opacity: 1;
                }
            }
        }
    }

}

@media (max-width: 583px) {
    header {
        height: 130px;
    }
}

@media print {
    header {
        display: none;
    }
}